@model Fiap.Web.Alunos.Models.ClienteModel
<h1>Cliente</h1>
<h4>Detalhe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Nome" class="control-label fw-bold"></label>
            <div class="col-md-10">
                <span>@Model.Nome</span>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="Sobrenome" class="control-label fw-bold"></label>
            <div class="col-md-10">
                <span>@Model.Sobrenome</span>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="Email" class="control-label fw-bold"></label>
            <div class="col-md-10">
                <span>@Model.Email</span>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="DataNascimento" class="control-label fw-bold"></label>
            <div class="col-md-10">
                <span>@Model.DataNascimento</span>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="Observacao" class="control-label fw-bold"></label>
            <div class="col-md-10">
                <span>@Model.Observacao</span>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="RepresentanteId" class="control-label  fw-bold"></label>
            <div class="col-md-10">
                <span>@Model.Representante.NomeRepresentante</span>
            </div>
        </div>
        <br />
    </div>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>